SECRET_KEY= paste here you secret key
DEBUG= True
DATABASE_URL= your own db url
NAME=your db name
DB_USER= your db user
PASSWORD= db password
HOST= dn host
PORT= db port

#redis client first db information
FIRST_DB_HOST = db host
FIRST_DB_PORT = db port
FIRST_DB = db number

#redis payment db information
PAYMENT_DB_HOST = db host
PAYMENT_DB_PORT = db port
PAYMENT_DB = db number

#redis mock db
MOCK_DB_HOST = db host
MOCK_DB_PORT = db port
MOCK_DB = db number